---
layout: home
id: home
title: Partheeban Kandasamy
description: Unassuming go getter, Team player, Change agent
bgurl: cloud.jpg
backgrounds:
  case_study: cornflower-blue
  team: dark-blue
hero:
  headline: Passion- Building Valuable Solutions & Products through Technology
  content: A Team Player, Driven, Expert Generalist, Unassuming Go Getter and a Change Agent
secondary_ctas:
  cta1:
    title: Have a question for PK? 
    url: /kb
    content: Technology, Product Management, Website development or Design thinking. Reach out! 
  cta2:
    title: Reach out to collaborate with PK
    url: https://github.com/pksrc
    content: Have an idea for Collaboration projects? Let's chat!
    
---
<div class="home-hero bg-color-{{ site.hero.background-color }}" style="background-image: url('{{ '/assets/images/about/' | append: page.bgurl | relative_url }}')">
  <div class="section hero-bg">
    
      <div class="row pb-4 pt-4 m-1">
        <div class="col-md-4 pl-0 hero-sticky">
          <div class="row ml-0 pl-3 pt-4 hero-bg-slate day-night-hero">
            <h1 class="mb-2">{{ page.hero.headline }}</h1>
            <p class="mb-1">{{ page.hero.content }}</p> 
            {% include day-night.html%}
          </div>
          
          <div class="row">
            <div class="col-md-8 pr-0">
              <div class="hero-pk-mascot shadow">
                {% include contact.html %}
                <img id="profile" src="{{ '/' | append: site.banner_main | relative_url}}"/>
                <img id="profile-dark" src="{{ '/' | append: site.banner_alt | relative_url}}"/>
              </div>
            </div>
            <div class="col-md-4 promo-cards">
              {% for skill in site.data.skills %}
              <div class="card card-light match-height shadow">
                <div class="card-body p-0 bash">
                  <figure>
                    <img src="{{ '/assets/images/skills/' | append: skill.img | relative_url }}" alt="{{ skill.name }}" />
                  </figure>
                  {% if project.external_url or size > 0 %}
                  <span><a href="{{ skill.external_url }}" target="_blank" class="dark">{{ skill.name }}</a></span>
                  {% elsif project.url or size > 0 %}
                  <span><a href="{{ skill.url | relative_url }}" class="dark">{{ skill.name }}</a></span>
                  {% else %}
                  <span>{{ skill.name }}</span>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="col-md-8 pr-0">
          <div class="container hero-cta shadow pr-0">
            
            <div class="experience">
              {% assign limit = 6 %}
              {% include experience.html %}
            </div>
          </div>
        </div>
        
      </div>
    </div>
</div> 
<!-- /home-hero -->

<div class="section section-grey">
  <div class="section-content">
    <div class="row bg-grey">
      <div class="col-sm-5 mb-3 mb-0">
        <h6 class="mb-1">
          {% if page.secondary_ctas.cta1.external_url or size > 0 %}
          <a href="{{ page.secondary_ctas.cta1.external_url }}" target="_blank">{{ page.secondary_ctas.cta1.title }}</a>
          {% else %}
          <a href="{{ page.secondary_ctas.cta1.url | relative_url }}">{{ page.secondary_ctas.cta1.title }}</a>
          {% endif %}
        </h6>
        <p class="mb-0">{{ page.secondary_ctas.cta1.content }}</p>
      </div>
      <div class="col-sm-5 offset-sm-2">
        <h6 class="mb-1">
          {% if page.secondary_ctas.cta2.external_url  or size > 0 %}
          <a href="{{ page.secondary_ctas.cta2.external_url }}" target="_blank">{{ page.secondary_ctas.cta2.title }}</a>
          {% else %}
          <a href="{{ page.secondary_ctas.cta2.url | relative_url }}">{{ page.secondary_ctas.cta2.title }}</a>
          {% endif %}
        </h6>
        <p class="mb-0">{{ page.secondary_ctas.cta2.content }}</p>
      </div>
    </div>
  </div>
</div>
<!-- /secondary ctas -->