.card {
  border-radius: 0;
  border: 0px;
  .card-body {
    text-align: center;
    padding: 2rem 1.25rem;
  }

  &.card-dark {
    color: $card-dark-foreground;
    background-color: $card-dark-background;
    a {
      color: $card-dark-link;
      &:hover {
        color: $card-dark-link-hover;
      }
    }
  }

  &.card-light {
    a {
      color: $card-light-link;
      font-weight: $font-weight-medium
    }
    background-color: $card-light-background;
    p {
      font-size: .875rem;
    }
  }
  
}

.blog-cards {
  .row {
    border-radius: 5px;
    border: 1px solid $border-color;
    margin: 0.75rem 0;
    background-color: #97b0c582;
    color: #fff;
  }

  .icon {
    background: cornflowerblue; // default
    text-align: center;
    overflow: hidden;
    
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &.landscape {
        width: auto;
        height: 100%;
      }
    }
    
  }
  .card-body {
    padding: 0.5rem 0;
    color: white;
    
    .card-title {
      font-weight: $font-weight-semibold;
      font-size: $font-size-sm;
      text-transform: uppercase;
      a {
        color: white;
      }
    }
    p {
      font-weight: $font-weight-semibold;
      font-size: $font-size-xs;
    }
  }

  .bash {
    background-color: black;
    background-image: radial-gradient(
      #727c75, #4e4c4c 120%
    );
    margin: 0;
    overflow: hidden;
    padding: 0.5rem 0.5rem;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: repeating-linear-gradient(
        0deg,
        rgba(black, 0.15),
        rgba(black, 0.15) 1px,
        transparent 1px,
        transparent 2px
      );
    }
  }
}

// landing page promo cards
.promo-cards {
  padding: 0;
  margin: 0;
  figure {
    text-align: center;
    height: 130px;
    overflow: hidden;
    margin: 0;
    padding:0;
    img {
      border: none;
      width: 100%;
      max-height: auto;
      transform: translateY(-20px);
    }
  }
  span {
    background-color: grey;
    background-image: radial-gradient(#80a9cc, #000 120%);
    position: absolute;
    bottom:0; left:0;
    margin: 0 auto;
    padding: 2px 0;
    width: 100%;
    text-transform: uppercase;
    font-size: $font-size-xs;
    font-weight: $font-weight-bold;
    color: $white;
  }
  
  @include media-breakpoint-down(sm) {
    display:none;
  }
}

.experience-cards {
  margin-right: 15px;
  padding-top: 10px;

  .row {
    border-radius: 5px;
    border: 1px solid $border-color;
    margin: 0.75rem 0;
    background-color: #97b0c582;
    color: #fff;
  }

  h1 {
    padding: 15px 0 0 0;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
  }

  h3 {
    margin-top: 5px;
    font-size: $font-size-sm;
    font-weight: $font-weight-light;
  }

  .icon {
    text-align: center;
    padding: 0.5rem;
    
    img {
      width: 80%;
      height: 80%;
      object-fit: contain;
      margin: auto 0;
      &.landscape {
        width: auto;
        height: 100%;
      }
    }
    
  }
  .card-body {
    padding: 0.5rem 0.25rem 0 0rem;
    color: white;
    
    .card-title {
      font-weight: $font-weight-semibold;
      font-size: $font-size-sm;
      text-transform: uppercase;
      padding-left: 0;
      margin-bottom: 0;
      a {
        color: darkcyan;
      }
      p {
        font-weight: $font-weight-semibold;
        font-size: $font-size-xs;
        padding-bottom: 0;
        margin-bottom: 0;
      }
      small p {
        font-weight: $font-weight-normal;
      }

    }
  }

  .card-text {
    padding: 0 0.25rem;
    margin-left: 0.75rem;
    p {
      font-weight: $font-weight-semibold;
      font-size: $font-size-xs;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    ul {
      padding-inline-start: 20px;
      p {
        font-weight: $font-weight-normal;
      }
      a {
        color: darkcyan;
      }
    }
  }
  
}

.credentials-cards {
  margin-right: 15px;
  padding-top: 10px;

  .row {
    border-radius: 5px;
    border: 1px solid $border-color;
    margin: 0.75rem 0;
    background-color: #97b0c582;
    color: #fff;
  }

  .card-body {
    padding: 0.5rem 0.25rem 0.5rem 0rem;
    color: white;
    font-weight: $font-weight-semibold;
    font-size: $font-size-xs;
  }
}