.card {
  border-radius: 0;
  border: 0px;
  .card-body {
    text-align: center;
    padding: 2rem 1.25rem;
  }

  &.card-dark {
    color: $card-dark-foreground;
    background-color: $card-dark-background;
    a {
      color: $card-dark-link;
      &:hover {
        color: $card-dark-link-hover;
      }
    }
  }

  &.card-light {
    a {
      color: $card-light-link;
      font-weight: $font-weight-medium
    }
    background-color: $card-light-background;
    p {
      font-size: .875rem;
    }
  }
  
}

.blog-cards {
  .row {
    border: 1px solid $border-color;
    margin: 0.75rem 0;
    background-color: #9ea0a0;
    a {
      width: 100%;
      position: absolute;
      left: 0;
    }
    a span:hover, span:focus {
      text-decoration: none;
    }
  }

  .icon {
    background: cornflowerblue; // default
    text-align: center;
    overflow: hidden;
    
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &.landscape {
        width: auto;
        height: 100%;
      }
    }
    
  }
  .card-body {
    padding: 0.5rem 0;
    color: white;
    
    .card-title {
      font-weight: $font-weight-semibold;
      font-size: $font-size-sm;
      text-transform: uppercase;
    }
    p {
      font-weight: $font-weight-normal;
      font-size: $font-size-xs;
    }
  }

  .bash {
    background-color: black;
    background-image: radial-gradient(
      #727c75, #4e4c4c 120%
    );
    margin: 0;
    overflow: hidden;
    padding: 0.5rem 0.5rem;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: repeating-linear-gradient(
        0deg,
        rgba(black, 0.15),
        rgba(black, 0.15) 1px,
        transparent 1px,
        transparent 2px
      );
    }
  }
}

// landing page promo cards
.promo-cards {
  padding: 0;
  margin: 0;
  figure {
    text-align: center;
    height: 125px;
    overflow: hidden;
    margin: 0;
    padding:0;
    img {
      border: none;
      width: 100%;
      max-height: auto;
      transform: translateY(-20px);
    }
  }
  span {
    background-color: grey;
    background-image: radial-gradient(#80a9cc, #000 120%);
    position: absolute;
    bottom:0; left:0;
    margin: 0 auto;
    width: 100%;
    text-transform: uppercase;
    font-size: $font-size-xs;
    font-weight: $font-weight-bold;
    color: $white;
  }
  
  @include media-breakpoint-down(sm) {
    display:none;
  }
}