.home-hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: calc(100%) calc(15%); 

  @include media-breakpoint-up(md) {
    min-height: 800px;  
  }

  .hero-bg {
    background-color: #6c757da8;
    margin: 0;
  }

  color: $white;
  h1,
  h2,
  h3 {
    color: $white;
    font-weight: $font-weight-light;
  }

  h1 {
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
  }
  h3 {
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;
  }
  .section {
    padding: 10px 30px;

  }
  .section-content {
    margin-top: 10px;
    
    .hero-content{       
      padding-left: 15px;
      
      h1 {
        padding-top: 10px;
      }
    }

    .hero-cta {
      display: block;
      padding: 10px;
      background-color: #6c757d7d;
      
      @include media-breakpoint-up(md) { 
        display: flex;
        flex-direction: row;
        justify-content: left;
      }
  
      .btn {
  
        @include media-breakpoint-up(md) { 
          min-width: 250px;
        }
  
        padding: {
          top: 5px;
          bottom: 5px;
        }
      }
  
      h3 {
        margin: auto 0;
      }
    }

    &.section-card-offset-top {
      .row {
        margin-top: 20px;
      }
      .section-content {
        @include media-breakpoint-up(lg) {
          padding: {
            left: 0;
            right: 0;
          }
        }
      }
    }
    
  }

  .hero-pk-mascot {
    overflow: hidden;
    max-height: 750px;
    margin-bottom: 10px;
      
    img {
      transform: translateX(-50px) translateY(-125px) ;
    }
    #profile-dark {
      transform: translateX(-150px) translateY(-200px) scale(0.7);
    }
    @include media-breakpoint-down(sm) {
      display: none;
      background-image: none !important;
    }
  }
  
  .section-card {
    margin-top: 68px;
    .section-content {
      background-color: transparent;
      padding: 0;
    }
  }

  .contact-container {
    position: absolute;
    left: -40px;
    top: 50px;
    //align-items: center;
    //justify-content: flex-end;

    .row {
      padding: 0.5rem;
      margin: 1rem;
    }

    .Twitter {
      color:$blue;
    }
    .Github {
      color:$black;
    }
    .Email {
      color: darkcyan;
    }
  }
}