.home-hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: calc(100%) calc(15%); 

  @include media-breakpoint-up(md) {
    min-height: 800px;  
  }

  .hero-bg-slate {
    background-image: radial-gradient(
      #3e3e3ec2, #ffffffc2 120%
      );
    position: sticky;
    top: 100px;
  }

  color: $white;
  h1,
  h2,
  h3 {
    color: $white;
    font-weight: $font-weight-light;
  }

  h1 {
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
  }
  h3 {
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;
  }
  .section {
    padding: 10px 30px;

    @include media-breakpoint-down(sm) {
      .col-md-8 {
        padding-left:0px !important;
      }
    }
  }
  .section-content {
    margin-top: 10px;
    
    .hero-content{       
      padding-left: 15px;
      
      h1 {
        padding-top: 10px;
      }
    }

    &.section-card-offset-top {
      .row {
        margin-top: 20px;
      }
      .section-content {
        @include media-breakpoint-up(lg) {
          padding: {
            left: 0;
            right: 0;
          }
        }
      }
    }
    
  }

  .hero-cta {
    display: block;
    background-image: radial-gradient(
      #3e3e3e, #ffffffc2 120%
    );
    
    @include media-breakpoint-up(md) { 
      display: flex;
      flex-direction: row;
      justify-content: left;
    }

    .btn {

      @include media-breakpoint-up(md) { 
        min-width: 250px;
      }

      padding: {
        top: 5px;
        bottom: 5px;
      }
    }

    h3 {
      width: 100%;
    }
    h3:first-child {
      margin-top: 1rem;
    }
  }

  .hero-pk-mascot {
    overflow: hidden;
    max-height: 780px;
      
    img {
      transform: translateX(-15px) translateY(-125px) ;
    }
    #profile-dark {
      transform: translateX(-150px) translateY(-200px) scale(0.7);
    }
    @include media-breakpoint-down(sm) {
      display: none;
      background-image: none !important;
    }
  }
  
  .section-card {
    margin-top: 68px;
    .section-content {
      background-color: transparent;
      padding: 0;
    }
  }

  .contact-container {
    position: absolute;
    left: -75px;
    top: 75px;

    .row {
      padding: auto 0rem;
      margin: auto 0.5rem;
    }

    a {
      padding: 10px 10px 5px 10px;
      text-align: center;
      align-items: center;
      .Twitter {
        color:$blue;
      }
      .Github {
        color:$black;
      }
      .Email {
        color: darkcyan;
      }
    }
  }
}