
<div class="alternating-cards">
    {% for post in site.posts %}
    <div class="row no-gutters align-items-center shadow">
        <div class="card blog-card {% cycle 'card-light', 'card-dark' %}  shadow match-height">
            <div class="post align-middle">
                <a href="{{ post.url | relative_url}}">
                    <img src="{{ 'assets/images/blog/' | append: post.featuredimage }}" class="no-gutters"/>
                    <span class="card-title">
                        {{ post.title }}
                    </span>
                    <p >
                        {{ post.excerpt | strip_html }}
                    </p>
                </a> 
            </div>
        </div>
    </div>
    {% if limit > 0 and forloop.index >= limit %}
    {% break %}
    {% endif %}
    {% assign row = forloop.index | modulo: 3 %}
    {% if row == 0 %}
</div>
<div class="row mt-1">
    {% endif %}
    {% endfor %}
</div>
