<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{ page.description | default: site.description | smartify }}">
<meta name="author" content="{{ site.authors }}">

<title>
  {%- if page.title -%}
    {{ page.title | smartify }} · {{ site.title | smartify }}
  {%- else -%}
    {{ site.title | smartify }} · {{ site.description | smartify }}
  {%- endif -%}
</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="{{ '/assets/css/styles.css?v=' | append: site.github.build_revision | relative_url }}{{site.time | date: '%s%N'}}">

{% include favicons.html %}

{% include social.html %}

<script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-141689937-1', 'about.pdotk.com');
  ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
