<div id="headline" class="headline">
  <span class="projectname emphasis">P</span>artheeban
  <span class="projectname"> </span>
  <span class="projectname emphasis">K</span>andasamy
</div>

<div id="menu" class="menu">
  <a href="/" class="menuitem {{ page.defaultselected }}">Home</a>
  <span class="seperator">.</span>
  <a href="/projects" class="menuitem {{ page.projectsselected }}">Projects</a>
  <span class="seperator">.</span>
  <a href="/about" class="menuitem {{ page.aboutselected }}">About</a>
  <span class="seperator">.</span>
  <a href="/getintouch" class="menuitem {{ page.contactselected }}">Contact</a>
</div>
