<div class="navbar-nav-scroll ml-md-auto">
  <ul class="navbar-nav bd-navbar-nav flex-row nav-menu" id="header-nav">
    {% comment %}
    <!--<li class="nav-item">
      <a class="nav-link {% if page.layout == 'home' %}active{% endif %}" href="{{ site.baseurl }}/" onclick="ga('send', 'event', 'Navbar', 'MENU', 'Home');">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if page.layout == 'blog' %}active{% endif %}" href="{{ site.baseurl }}/blog" onclick="ga('send', 'event', 'Navbar', 'MENU', 'Blog');">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if page.title == 'about' %}active{% endif %}" href="{{ site.baseurl }}/about/" onclick="ga('send', 'event', 'Navbar', 'MENU', 'about');">About</a>
    </li>-->
    {% endcomment %}
    <li class="nav-item">
      <a class="nav-link" href="https://medium.com/@pkblah" target="_blank" onclick="ga('send', 'event', 'Navbar', 'Medium', 'pkblah');">Blogs @ Medium</a>
    </li>
  </ul>
  <div class="nav-mobile-link">
    <a href="javascript:void(0);" id="nav-mobile-toggle"></a>
  </div>
</div>