<header class="site-header">
  <div class="site-header-content navbar navbar-expand">
    <!--<a class="logo navbar-brand mr-0 mr-md-2" href="{{ site.baseurl }}/" aria-label="PK">
      {%- include icons/bootstrap.svg width="36" height="36" class="d-block" -%}
    </a>-->
    <div class="logo">
      <a href="{{ '/' | relative_url }}" aria-label="VEBA homepage"><img src="{{ '/assets/images/' | append: site.logo | relative_url }}" class="logo" alt="Homepage"/></a>
    </div>
  
    <div class="navbar-nav-scroll ml-md-auto">
      <ul class="navbar-nav bd-navbar-nav flex-row nav-menu" id="header-nav">
        <li class="nav-item">
          <a class="nav-link {% if page.layout == 'home' %}active{% endif %}" href="{{ site.baseurl }}/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Home');">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.layout == 'docs' %}active{% endif %}" href="{{ site.baseurl }}/projects" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Docs');">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.title == 'about' %}active{% endif %}" href="{{ site.baseurl }}/about/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'about');">About</a>
        </li>
        <li class="nav-item">
          <a href="/getintouch" class="nav-link {% if page.title == 'contact' %}active{% endif %}" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Contact');">Contact</a>
        </li>
      </ul>
      <div class="nav-mobile-link">
        <a href="javascript:void(0);" id="nav-mobile-toggle"></a>
      </div>
    </div>
  </div>
</header>
<div class="rainbow divider" id="header-rainbow"></div>

