#blogs {
  .container.container-max {
    max-width: 90%;
  }

  .featured {
    height: 400px;
    text-align: center;
    overflow: hidden;
    margin: 0 50px;

    img {
      transform: translate(0%, -40%);
      width: 100%;
      height: auto;
      
      &.landscape {
        transform: translate(0%, 0%);
        width: 100%;
        height: 100%;
      }
    }
  }

  .section-card {
    margin-bottom: $section-padding-y;
  }

  table {
    @extend .table;
    @extend .table-striped;
    @extend .table-bordered;
    thead {
      @extend .thead-light;
    }
    td {
      code {
        word-break: keep-all;
      }
    }
  }

  h2, h3, p {
    width: 100%;
    margin-bottom: 0.5rem;
    line-height: $line-height-base;
    color: #292F33;
  }

  .toc {
    padding-top: 1rem;
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    ul {
        padding: 0;
        list-style: none;
      }

    li {
      margin-left: 10px;
      font-size: $font-size-sm;
      
      span {
        font-family: monospace;
        color: #000000 !important;
      }

      &.selected {
        a {
          font-weight: $font-weight-semibold;
          color: #033a56;          }
      }

    }
    
    h3 {
      font-size: $font-size-base;
      font-weight: $font-weight-normal;
      margin-top: 1rem;
      border-bottom: 1px solid rgba(15,70,100,0.25);
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  .blog-container {
    margin: 0 0 1rem 0;
    font-size: $font-size-sm;
    font-weight: $font-weight-normal;
    
    @include media-breakpoint-down(lg) {
      max-width: 100%;
      overflow-x: scroll;
    }
  
    h1 {
      margin-top: 2rem;
      font-size: $font-size-lg;
      font-weight: $font-weight-semibold;
    }

    h1:first-of-type {
      margin-top: 1rem;
    }
  
    h2 {
      margin-top: 1.5rem;
      font-size: $font-size-base;
      font-weight: $font-weight-semibold;
    }

    h2:first-of-type {
      margin-top: 1rem;
    }
  
    h3 {
      margin-top: 1rem;
      padding-left: 0.25rem;
      font-size: $font-size-sm;
      font-weight: $font-weight-semibold;
    }

    h4 {
      padding-left: 0.5rem;
      font-size: $font-size-sm;
      font-weight: $font-weight-normal;
    }

    blockquote {
      margin: 0 .5rem;
      padding: 0 1rem;
      color: #6a737d;
      border-left: .25em solid #dfe2e5;
    }

    pre { 
      code {
        font-size: 90%;
        word-break: break-all;
        white-space: break-spaces;
      }
    }

    .highlighter-rouge pre {
      margin: 1rem .5rem;
      padding: 0.5rem 1rem;
    }

    
    .highlighter-rouge-dark{
      div.highlight {
        background-color: black;
        background-image: radial-gradient(
          #667292, black 120%
        );
        pointer-events: none;
      }
      pre.highlight {
        background: repeating-linear-gradient(
          0deg,
          rgba(black, 0.15),
          rgba(black, 0.15) 1px,
          transparent 1px,
          transparent 2px
        );
        color: greenyellow;
        font: Inconsolata, monospace;
        text-shadow: 0 0 5px #C8C8C8;
      }
      ::selection {
        background: #0080FF;
        text-shadow: none;
      }
    }

    .copy-code-button {
      color: #5feaf1;
  
      /* right-align */
      position: absolute;
      right: 25px;
  
      font-size: 20px;
    }
    
    .copy-code-button:hover {
        cursor: pointer;
        
    }
    
    .copy-code-button:focus {
        /* Avoid an ugly focus outline on click in Chrome,
          but darken the button for accessibility.
          See https://stackoverflow.com/a/25298082/1481479 */
        outline: 0;
    }
  }
}

.blogposts {
  border-radius: 5px;
  background-color: white;
  padding-bottom: 1rem;
  h3 {
    font-size: 27px;
    line-height: 36px;
  }
  .blog-cards .row {
    margin: 20px 0 !important;
    background-color: #62809ec7;
  }
  .card-body {
    padding: 0.5rem 0;
    color: white;
    
    .card-title {
      font-weight: $font-weight-semibold;
      font-size: $font-size-sm;
      text-transform: uppercase;
      a {
        color: white;
      }
    }
    p {
      font-weight: $font-weight-semibold;
      font-size: $font-size-xs;
    }
  }
}