---
---

@import "{{ site.theme }}";

//Main Layout for the pages
html {
  height: 100%;
}

body {
  font-family: 'Manjari', sans-serif;
  font-weight: 100;
  height: 100%;
}

main {
  overflow: auto;
}

.site-footer {
  text-align: center;
  margin-top: 0rem;
  background-color: #ededed;
}

//header and menu
.pk-header {
  max-width: 65rem;
  padding: 1rem 0rem;
  margin: 0 auto;
  overflow-y: auto;
  color: #383838;
}

.emphasis {
  font-size: 1.5em;
  font-weight: 400;
  display: inline-block;
  color: #0e9452;
}

.headline {
  font-size: 1.5rem;
  font-weight: 300;
  width: auto;
  display: inline-block;
  position: relative;
  //float: left;
}

.menu {
  float: right;
  display: block;
  margin: 0.7rem 0;
}

.menuitem {
  color: #383838;
  text-align: center;
}

.seperator {
  color: #fff;
  padding: 0rem 2rem;
}

.selected {
    color: #0e9452;
    text-align: center;
    font-size: 1.5rem;
}

@media only screen and (max-width:768px) {
  .pk-header {
    text-align: center;
    padding: 0px;
  }

  .menu {
    float: none;
    display: block;
    margin: 0;
    background-color: beige;
  }

  .selected {
    font-size: 1.1rem;
  }

  .seperator {
    padding: 0rem 0.5rem;
  }
}

.darkmode {
  background-color: #3b3b3b;
  color: #fffefe;
}

//hero images
.bg {
  /* The image used */
  //background-image: url("/assets/images/bg/bg.jpg");

  /* Full height */
  height: 400px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg_overlay {
  background-color: #132930a1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

//Cosmetics for the pages
.page-content {
  background-color: #ededed;
}

.scoot-300 {
    margin-bottom: -300px;
}

.content-container {
  position: relative;
  margin:inherit;
  padding: inherit;
}

.project-title {
  font-size: 2.5rem;
  text-align: center;
  opacity: 1;
  color: #fff;
  max-width: 64rem;
  margin: 0em auto 0em auto;
}

.project-tagline{
  font-size: 1rem;
  text-align: center;
  opacity: 1;
  color: #fff;
  max-width: 64rem;
  padding: 2rem 6rem;
  margin: 0em auto 4em auto;
}

.main-content {
  background-color: #fff;
  border: 1px solid #bababb;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 200;
  font-family: 'Manjari', sans-serif;
  color: #159957;
}

.project-content {
  max-width: 64rem;
  padding: 2rem 6rem;
  margin: 0 auto;
  font-size: 1.1rem;
  background-color: #fff;
  border: 1px solid #bababb;
  word-wrap: break-word;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-content h1, .project-content h2, .project-content h3, .project-content h4, .project-content h5, .project-content h6 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 200;
  font-family: 'Manjari', sans-serif;
  color: #159957;
}

@media only screen and (max-width:768px) {
  .project-content {
    padding: 2rem 2rem;
  }
}

//Contacts and Socials
// Team & About
/* Three columns side by side */
.bg-img {
  /* The image used */
  background-image: url("/assets/images/about/profile.jpg");
  margin: 0 auto;

  /* Control the height of the image */
  height: 30rem;
  max-width: 64rem;

  /* Center and scale the image nicely */
  background-position-y: -100px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transform: scale(1);
  transition: transform 1s, filter 2s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content-container:hover .bg-img {
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  transition: transform 1s, filter 2s ease-in-out;
}

/* Some left and right padding inside the container */
.detail-container {
  float: right;
  height: inherit;
  max-width: 400px;
  padding: 2rem;
  background-color: white;
  text-align: center;
}

.no-padding {
  padding: 0;
  margin: 30px;
}

//Cosmetics for the pages
.contact-name h1, .contact-tagline h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: light;
  font-family: 'Manjari', sans-serif;
  color: #159957;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.contact-container {
  text-align: center;
  position: relative;
}

.socials {
  margin-top: 15px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.socials__item {
    display: inline-block;
    width:40px;
    height: 40px;
}

.socials__item__link {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 1;
    color: #132930;
    background: #ddd;
}

.socials__item__link svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%,-52%);
    -o-transform: translate(-50%,-52%);
    -ms-transform: translate(-50%,-52%);
    -webkit-transform: translate(-50%,-52%);
    transform: translate(-50%,-52%);
}

.svg-inline--fa.fa-w-14 {
    width: .875em;
}
.svg-inline--fa.fa-w-16 {
    width: 1em;
}
.svg-inline--fa.fa-w-9 {
    width: .5625em;
}

@media only screen and (max-width:768px) {
  .bg-img {
    background-position-y: -50px;
    transform: scale(1);
    transition: transform 1s, filter 2s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .detail-container {
      position: absolute;
      bottom: 0;
      left:0;
      right:0;
      height: 40%;
      width: 100%;
      max-width: inherit;
      padding: 2rem;
      margin: 30px 0 0 0;
      float:none;
      text-align: center;
  }

  .detail-container h2 {
    font-size: 1rem;
  }

  .main-content .contact-container:first-child {
    margin-top: 0;
  }
}

//Image effects for projects from https://w3bits.com/labs/css-image-hover-zoom/
.project-container {
  max-width: 66em;
  overflow: auto;
}

.post {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    margin-top: 30px;
    cursor: pointer;
    background: #f4f5f6;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.post_image_holder {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    height: auto;
    padding-bottom: 0;
}

.post_image {
    position: relative;
    float:left;
    width: 99%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all 1s cubic-bezier(.2,.3,0,1);
    -moz-transition: all 1s cubic-bezier(.2,.3,0,1);
    -ms-transition: all 1s cubic-bezier(.2,.3,0,1);
    -o-transition: all 1s cubic-bezier(.2,.3,0,1);
    transition: all 1s cubic-bezier(.2,.3,0,1);
}

.post_content_holder {
    float: right;
    padding: 30px 30px 30px 0;
    width: 50%;
    position: relative;
    background: #f4f5f6;
    margin:0;
}

.post_content {
    margin: 0 0 0 -30px;
    background: #fff;
    box-shadow: 0 6px 16px rgba(0,0,0,.1);
    padding: 30px;
    //min-height: 400px;
}

.post:nth-child(2n) .post_image_holder {
    left: auto;
    right: 0;
}

.post:nth-child(2n) .post_content_holder {
    float: left;
    padding: 30px 0 30px 30px;
}

.post:nth-child(2n) .post_content {
    margin: 0 -30px 0 0;
}

@media only screen and (max-width:768px) {
  .main-content :first-child {
    //margin-top: -30px;
  }

  .post {
    margin-top: 60px;
    background: #f4f5f6;
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    margin-top: 30px;
    cursor: pointer;
  }

  .post_content_holder {
    padding: 0 30px 30px 30px;
    width: 100%;
  }

  .post_content {
    margin: -30px 0 0 0;
  }

  .post:nth-child(2n) .post_image_holder {
    left: auto;
    right: 0;
  }

  .post:nth-child(2n) .post_content_holder {
    float: left;
    padding: 0 30px 30px 30px;
  }

  .post:nth-child(2n) .post_content {
    margin: -30px 0 0 0;
  }

  .post_image_holder {
    position: relative;
    height: 0;
    margin: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    width: 100%;
  }

  .post_image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all 1s cubic-bezier(.2,.3,0,1);
    -moz-transition: all 1s cubic-bezier(.2,.3,0,1);
    -ms-transition: all 1s cubic-bezier(.2,.3,0,1);
    -o-transition: all 1s cubic-bezier(.2,.3,0,1);
    transition: all 1s cubic-bezier(.2,.3,0,1);
  }
}

/* Blur-zoom Container */
.post .hover-zoom--blur {
  transition: transform 1s, filter 2s ease-in-out;
  filter: blur(2px);
  transform: scale(1.3);
}

/* The Transformation */
.post:hover .hover-zoom--blur {
  filter: blur(0);
  transform: scale(1.1);
}

/* Colorize-zoom Container */
.post .hover-zoom--colorize {
  transition: transform 1s, filter 1.5s ease-in-out;
  filter: grayscale(100%);
  transform: scale(1.3);
}

/* The Transformation */
.post:hover .hover-zoom--colorize {
  filter: grayscale(0);
  transform: scale(1.1);
}

/* Brightness-zoom Container */
.post .hover-zoom--brightness {
  transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
  transform: scale(1.1);
  filter: brightness(50%);
}

/* The Transformation */
.post:hover .hover-zoom--brightness {
  filter: brightness(100%);
  transform: scale(1.3);
}

/* Slow-motion Zoom Container */
.post .hover-zoom--slowmo {
  transform-origin: 50% 65%;
  transition: transform 5s, filter 3s ease-in-out;
  transform: scale(1.1);
  filter: brightness(150%);
}

/* The Transformation */
.post:hover .hover-zoom--slowmo {
  filter: brightness(100%);
  transform: scale(3);
}

.post:hover .post_content {
  -webkit-box-shadow: 0 6px 16px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 6px 16px rgba(0, 0, 0, .1);
  box-shadow: 0 6px 16px rgba(0, 0, 0, .1)
}

.post:hover .post_title a {
  color: #3498db
}
