<div class="wrap">



		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url(https://d1qmdf3vop2l07.cloudfront.net/yellow-sage.cloudvent.net/compressed/_min_/a96cf527d69f09862655209b9057530c.jpg)" data-cms-original-style="background-image: url(/images/demo/work-01.jpg)"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="/project/write-it-down">Write it down</a></h2>
					<p class="post__subtitle">Branding design</p>
					<p class="post__description">Personal lets you show off your projects right here on the home page, with an engaging hover effect to grab the attention of your visitors.</p>
				</div>
			</div>

		</article>



		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url(https://d1qmdf3vop2l07.cloudfront.net/yellow-sage.cloudvent.net/compressed/_min_/f0e518c7010401d4da38558854239955.jpg)" data-cms-original-style="background-image: url(/images/demo/work-02.jpg)"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="/project/wake-up">Wake up</a></h2>
					<p class="post__subtitle">Stationery design</p>
					<p class="post__description">Personal has been designed to put your content first, with a stylish and minimal interface to make navigation easy.</p>
				</div>
			</div>

		</article>



		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url(https://d1qmdf3vop2l07.cloudfront.net/yellow-sage.cloudvent.net/compressed/_min_/8696d297a15eac55b98284084c2760bb.jpg)" data-cms-original-style="background-image: url(/images/demo/work-03.jpg)"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="/project/edith-magazine">Edith magazine</a></h2>
					<p class="post__subtitle">Print design</p>
					<p class="post__description">We’ve included everything you need to create engaging posts about your work, and show off your case studies in a beautiful way – check out a single post to see!</p>
				</div>
			</div>

		</article>



		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url(https://d1qmdf3vop2l07.cloudfront.net/yellow-sage.cloudvent.net/compressed/_min_/6cc6b69bbfbc7bc978d19146e379c783.jpg)" data-cms-original-style="background-image: url(/images/demo/work-04.jpg)"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="/project/number-eight">Number eight</a></h2>
					<p class="post__subtitle">Packaging design</p>
					<p class="post__description">It's easy to change colors, spacing, fonts, sizes etc. via a simple settings file – you don't even need to touch the code.</p>
				</div>
			</div>

		</article>



		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url(https://d1qmdf3vop2l07.cloudfront.net/yellow-sage.cloudvent.net/compressed/_min_/e08c278dba29f843da281093a99160b3.jpg)" data-cms-original-style="background-image: url(/images/demo/work-05.jpg)"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="/project/block-patterns">Stationery pack</a></h2>
					<p class="post__subtitle">Graphic design</p>
					<p class="post__description">Personal works perfectly on all devices, adapting the layout to fit best with whatever screen size it's viewed on. It's packed with powerful features to create your personal website with Jekyll.</p>
				</div>
			</div>

		</article>



	</div>
